body{
    background-color: #FFFFFF;
    background-image: url("/images/static/common/bg.png");
    background-repeat: repeat;
}

.footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}
.indexCarousel{
	margin-top: 10px;
}
.wordwrap{word-wrap:break-word;white-space:pre-wrap;}

.userInfo{
    height:20px;
    overflow:hidden;
    color:#ccc;
}
.userInfo .avatar{
    float:left;
    margin-right: 5px;
    width:20px;
    height:20px
}
.userInfo .nc{
    float: left;
    max-width: 75px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
/*******wallpaper***********/

#wallpaperlogo{width:100%;height:150px;margin-bottom: 30px;}
#wallpaperlogo img{margin-top:10px;width:300px;}
#wallpaperintro p{
	padding-top: 10px;
	font-size: 17px;
	line-height: 16px;
}

#wallpaperscreen{
	margin-top: 20px;
	margin-left: 150px;
}
#wallpaperscreen img{width: 260px;}
/*******totoroTalk***********/

#totoroscreen{
	margin-top: 20px;
	margin-left: 150px;
}
#totorologo{width:100%;height:150px;}
#totorologo img{margin-top:10px;width:400px;}
#totorointro{
	width: 426px;
	height: 243px;
	background:url(/images/static/totorotalk/note.png) no-repeat;
}
#totorointro .caption{
	font-size: 13px;
	line-height: 16px;
	margin-left: 152px;
	margin-right: 63px;
	padding-top: 70px;
}
.totorolabel{
	padding: 5px;
	text-align: right;
}
.totorosubmit{
	padding-top: 10px;
	padding-left: 50px;
	margin: auto;
}
/*** Clouds ***/
.clouds		{ width:100%; height:262px;}
@-webkit-keyframes animate-cloud {
	from {background-position: 1000px 100%}
        to {background-position: 0 100%}
}
@-moz-keyframes animate-cloud {
	from {background-position: 1000px 100%}
        to {background-position: 0 100%}
}
@-ms-keyframes animate-cloud {
	from {background-position: 1000px 100%}
        to {background-position: 0 100%}
}
@-o-keyframes animate-cloud {
	from {background-position: 1000px 100%}
        to {background-position: 0 100%}
}
#clouds_small {
	position: absolute;
	left: 0;
	right: 0;
	height: 262px;
	background:  url(/images/static/common/bg-clouds-small.png) repeat-x 50% 100%;
	text-align: center;
	margin-bottom: 32px;
	border-bottom: 8px whitesmoke solid;
	border-top: 1px solid rgba(5,5,5,0.2);
	-webkit-animation: animate-cloud 30s linear infinite;
	-moz-animation: animate-cloud 30s linear infinite;
	-ms-animation: animate-cloud 30s linear infinite;
	-o-animation: animate-cloud 30s linear infinite;
	animation: animate-cloud 30s linear infinite
}
#cloud_front		{ position:absolute;top:0px;}
#clouds_big	{height:100%; background:url(/images/static/common/bg-clouds-big.png) repeat-x scroll 0 0 transparent;}
.carousel .item > img{width: 100%;}

.grayborder{
	border: 1px solid #E1E1E1;
}
.noborder{
	border: 0px;
	box-shadow:none;
}
.changePhoto{
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
	width: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: 450px;
    opacity: 0.5;
	display: block;
    text-align: center;
    top: 40%;
}

.changePhoto:hover {
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}
.show_nave {
    margin-bottom: 20px;
    margin-top: 10px;
}
/*chinchilla market index*/
.trade{

}
.trade .tradeImage{

}
.trade .detail{
    margin-top: 30px;
}
.trade .detail .price{ 
}